Options -MultiViews

<IfModule mod_rewrite.c>
    RewriteEngine On
    # If exists file or dir, serve it
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Extensionless PHP
    RewriteCond %{REQUEST_FILENAME}.php -f
    RewriteRule ^(.*)$ $1.php [L]

    # Fallback
    RewriteRule ^ index.php [L]
</IfModule>
